USE [master]
GO
CREATE DATABASE [QLHS]
GO
USE [QLHS]
GO
CREATE TABLE [dbo].[BANGDIEMMON](
	[MABANGDIEMMON] [varchar](50) NOT NULL,
	[MAQTHOC] [varchar](50) NULL,
	[MAMONHOC] [varchar](50) NULL,
	[DIEMTB] [real] NULL,
 CONSTRAINT [PK_BANGDIEMMON] PRIMARY KEY CLUSTERED 
(
	[MABANGDIEMMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[BAOCAOTONGKETHK](
	[MAHK] [varchar](50) NOT NULL,
	[MALOP] [varchar](50) NOT NULL,
	[SOLUONGDAT] [int] NULL,
	[TYLE] [real] NULL,
 CONSTRAINT [PK_BAOCAOTONGKETHK] PRIMARY KEY CLUSTERED 
(
	[MAHK] ASC,
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[BAOCAOTONGKETMON](
	[MABCTKMON] [varchar](50) NOT NULL,
	[MAMONHOC] [varchar](50) NULL,
	[MAHOCKY] [varchar](50) NULL,
 CONSTRAINT [PK_BAOCAOTONGKETMON] PRIMARY KEY CLUSTERED 
(
	[MABCTKMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[CT_BCTKMON](
	[MABCTKMON] [varchar](50) NOT NULL,
	[MALOP] [varchar](50) NOT NULL,
	[SOLUONGDAT] [int] NULL,
	[TYLE] [real] NULL,
 CONSTRAINT [PK_CT_BCTKMON] PRIMARY KEY CLUSTERED 
(
	[MABCTKMON] ASC,
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[CT_DIEMMON](
	[MABANGDIEMMON] [varchar](50) NOT NULL,
	[MALHKT] [varchar](50) NOT NULL,
	[DIEM] [real] NULL,
 CONSTRAINT [PK_CT_DIEMMON] PRIMARY KEY CLUSTERED 
(
	[MABANGDIEMMON] ASC,
	[MALHKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[HOCKY](
	[MAHK] [varchar](50) NOT NULL,
	[HOCKY] [nvarchar](50) NULL,
	[MANAM] [varchar](50) NULL,
 CONSTRAINT [PK_HOCKY] PRIMARY KEY CLUSTERED 
(
	[MAHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [varchar](50) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[KHOILOP](
	[MAKHOI] [varchar](50) NOT NULL,
	[MANAM] [varchar](50) NULL,
	[TENKHOI] [nvarchar](50) NULL,
	[KHOI] [nvarchar](50) NULL,
	[SOLOP] [int] NULL,
 CONSTRAINT [PK_KHOILOP] PRIMARY KEY CLUSTERED 
(
	[MAKHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[LOAIHINHKIEMTRA](
	[MALHKT] [varchar](50) NOT NULL,
	[TENLHKT] [nvarchar](50) NULL,
	[HESO] [int] NULL,
 CONSTRAINT [PK_LOAIHINHKIEMTRA] PRIMARY KEY CLUSTERED 
(
	[MALHKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](50) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[MAKHOI] [varchar](50) NULL,
	[SISO] [int] NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[MONHOC](
	[MAMONHOC] [varchar](50) NOT NULL,
	[TEMMONHOC] [nvarchar](50) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMONHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[NAMHOC](
	[MANAM] [varchar](50) NOT NULL,
	[NAM1] [int] NULL,
	[NAM2] [int] NULL,
 CONSTRAINT [PK_NAMHOC] PRIMARY KEY CLUSTERED 
(
	[MANAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[QUATRINHHOC](
	[MAQTHOC] [varchar](50) NOT NULL,
	[MAHS] [varchar](50) NULL,
	[MALOP] [varchar](50) NULL,
	[MAHK] [varchar](50) NULL,
	[DIEMTBHK] [real] NULL,
 CONSTRAINT [PK_QUATRINHHOC] PRIMARY KEY CLUSTERED 
(
	[MAQTHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[THAMSO](
	[TENTHAMSO] [nvarchar](50) NOT NULL,
	[GIATRI] [int] NULL,
 CONSTRAINT [PK_THAMSO] PRIMARY KEY CLUSTERED 
(
	[TENTHAMSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[HOCKY] ([MAHK], [HOCKY], [MANAM]) VALUES (N'HK01', N'Học kỳ 1', N'NH1819')
INSERT [dbo].[HOCKY] ([MAHK], [HOCKY], [MANAM]) VALUES (N'HK02', N'Học kỳ 2', N'NH1819')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'MAHS1', N'Huỳnh Quốc Trung', N'Nam', CAST(0x00008D3F00000000 AS DateTime), N'Phú Ning, Quảng Ninh', N'17520184@gm.uit.edu.vn')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'MAHS2', N'Nguyễn Lê Việt Hoàng', N'Nam', CAST(0x00008D9300000000 AS DateTime), N'Quế Sơn, Quảng Nam', N'17520513@gm.uit.edu.vn')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'MAHS3', N'Nguyễn Phi Hùng', N'Nam', CAST(0x00008D5F00000000 AS DateTime), N'Bố Trạch, Quảng Bình', N'17520064@gm.uit.edu.vn')
INSERT [dbo].[KHOILOP] ([MAKHOI], [MANAM], [TENKHOI], [KHOI], [SOLOP]) VALUES (N'K10', N'NH1819', N'10', N'A         ', 4)
INSERT [dbo].[KHOILOP] ([MAKHOI], [MANAM], [TENKHOI], [KHOI], [SOLOP]) VALUES (N'K11', N'NH1819', N'11', N'B         ', 3)
INSERT [dbo].[KHOILOP] ([MAKHOI], [MANAM], [TENKHOI], [KHOI], [SOLOP]) VALUES (N'K12', N'NH1819', N'12', N'A         ', 3)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOI], [SISO]) VALUES (N'LP101', N'10A1', N'K10', 40)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOI], [SISO]) VALUES (N'LP102', N'10A2', N'K10', 33)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOI], [SISO]) VALUES (N'LP103', N'10A3', N'K10', 35)
INSERT [dbo].[MONHOC] ([MAMONHOC], [TEMMONHOC]) VALUES (N'MaMH1', N'Toán')
INSERT [dbo].[MONHOC] ([MAMONHOC], [TEMMONHOC]) VALUES (N'MaMH10', N'GDCD')
INSERT [dbo].[MONHOC] ([MAMONHOC], [TEMMONHOC]) VALUES (N'MaMH11', N'Công nghệ')
INSERT [dbo].[NAMHOC] ([MANAM], [NAM1], [NAM2]) VALUES (N'NH1718', 2017, 2018)
INSERT [dbo].[NAMHOC] ([MANAM], [NAM1], [NAM2]) VALUES (N'NH1819', 2018, 2019)
INSERT [dbo].[QUATRINHHOC] ([MAQTHOC], [MAHS], [MALOP], [MAHK], [DIEMTBHK]) VALUES (N'MAQTHOC1', N'MAHS1', N'LP101', N'HK01', NULL)
INSERT [dbo].[QUATRINHHOC] ([MAQTHOC], [MAHS], [MALOP], [MAHK], [DIEMTBHK]) VALUES (N'MAQTHOC2', N'MAHS2', N'LP111', N'HK01', NULL)
INSERT [dbo].[QUATRINHHOC] ([MAQTHOC], [MAHS], [MALOP], [MAHK], [DIEMTBHK]) VALUES (N'MAQTHOC3', N'MAHS3', N'LP122', N'HK02', NULL)
INSERT [dbo].[THAMSO] ([TENTHAMSO], [GIATRI]) VALUES (N'Điểm đạt', 5)
INSERT [dbo].[THAMSO] ([TENTHAMSO], [GIATRI]) VALUES (N'Điểm đạt môn', 5)
INSERT [dbo].[THAMSO] ([TENTHAMSO], [GIATRI]) VALUES (N'Sĩ số tối đa', 40)
ALTER TABLE [dbo].[BANGDIEMMON]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEMMON_MONHOC] FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[BANGDIEMMON] CHECK CONSTRAINT [FK_BANGDIEMMON_MONHOC]
GO
ALTER TABLE [dbo].[BANGDIEMMON]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEMMON_QUATRINHHOC] FOREIGN KEY([MAQTHOC])
REFERENCES [dbo].[QUATRINHHOC] ([MAQTHOC])
GO
ALTER TABLE [dbo].[BANGDIEMMON] CHECK CONSTRAINT [FK_BANGDIEMMON_QUATRINHHOC]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHK]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAOTONGKETHK_HOCKY] FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOCKY] ([MAHK])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHK] CHECK CONSTRAINT [FK_BAOCAOTONGKETHK_HOCKY]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHK]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAOTONGKETHK_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHK] CHECK CONSTRAINT [FK_BAOCAOTONGKETHK_LOP]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAOTONGKETMON_HOCKY] FOREIGN KEY([MAHOCKY])
REFERENCES [dbo].[HOCKY] ([MAHK])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON] CHECK CONSTRAINT [FK_BAOCAOTONGKETMON_HOCKY]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAOTONGKETMON_MONHOC] FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON] CHECK CONSTRAINT [FK_BAOCAOTONGKETMON_MONHOC]
GO
ALTER TABLE [dbo].[CT_BCTKMON]  WITH CHECK ADD  CONSTRAINT [FK_CT_BCTKMON_BAOCAOTONGKETMON] FOREIGN KEY([MABCTKMON])
REFERENCES [dbo].[BAOCAOTONGKETMON] ([MABCTKMON])
GO
ALTER TABLE [dbo].[CT_BCTKMON] CHECK CONSTRAINT [FK_CT_BCTKMON_BAOCAOTONGKETMON]
GO
ALTER TABLE [dbo].[CT_BCTKMON]  WITH CHECK ADD  CONSTRAINT [FK_CT_BCTKMON_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[CT_BCTKMON] CHECK CONSTRAINT [FK_CT_BCTKMON_LOP]
GO
ALTER TABLE [dbo].[CT_DIEMMON]  WITH CHECK ADD  CONSTRAINT [FK_CT_DIEMMON_BANGDIEMMON] FOREIGN KEY([MABANGDIEMMON])
REFERENCES [dbo].[BANGDIEMMON] ([MABANGDIEMMON])
GO
ALTER TABLE [dbo].[CT_DIEMMON] CHECK CONSTRAINT [FK_CT_DIEMMON_BANGDIEMMON]
GO
ALTER TABLE [dbo].[CT_DIEMMON]  WITH CHECK ADD  CONSTRAINT [FK_CT_DIEMMON_LOAIHINHKIEMTRA] FOREIGN KEY([MALHKT])
REFERENCES [dbo].[LOAIHINHKIEMTRA] ([MALHKT])
GO
ALTER TABLE [dbo].[CT_DIEMMON] CHECK CONSTRAINT [FK_CT_DIEMMON_LOAIHINHKIEMTRA]
GO
ALTER TABLE [dbo].[HOCKY]  WITH CHECK ADD  CONSTRAINT [FK_HOCKY_NAMHOC] FOREIGN KEY([MANAM])
REFERENCES [dbo].[NAMHOC] ([MANAM])
GO
ALTER TABLE [dbo].[HOCKY] CHECK CONSTRAINT [FK_HOCKY_NAMHOC]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOILOP] FOREIGN KEY([MAKHOI])
REFERENCES [dbo].[KHOILOP] ([MAKHOI])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOILOP]
GO
ALTER TABLE [dbo].[QUATRINHHOC]  WITH CHECK ADD  CONSTRAINT [FK_QUATRINHHOC_HOCKY] FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOCKY] ([MAHK])
GO
ALTER TABLE [dbo].[QUATRINHHOC] CHECK CONSTRAINT [FK_QUATRINHHOC_HOCKY]
GO
ALTER TABLE [dbo].[QUATRINHHOC]  WITH CHECK ADD  CONSTRAINT [FK_QUATRINHHOC_HOCSINH] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[QUATRINHHOC] CHECK CONSTRAINT [FK_QUATRINHHOC_HOCSINH]
GO
ALTER TABLE [dbo].[QUATRINHHOC]  WITH CHECK ADD  CONSTRAINT [FK_QUATRINHHOC_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[QUATRINHHOC] CHECK CONSTRAINT [FK_QUATRINHHOC_LOP]
GO
